body{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

table{
  text-align: center;
  font-family: Ubuntu, sans-serif;
  border-collapse: collapse;
  box-shadow: 8px 8px 10px  #628ca6;

}

table *{
  border: 1px solid grey;
  padding: 0.5em;
}

strong{
  border: none;
}

caption{
  background-color:  #7fb9c2;
  padding: 10px;
  font-weight: bold;
}

th{
  color: white;
  background-color: #628ca6;
}

tfoot tr td{
  background-color: #7fb9c2;
}

#november{
  color: white;
  background-color: #628ca6;
}
tr{
  background-color: #e7f0ed;
}

tr:nth-child(even) {
  background-color: #e7ffed;
}

tr:nth-child(5) td:nth-child(1) {
  font-style: italic;
}