@media only screen and (min-width: 64rem){
  nav button {
    display: none;
  }

  nav ul.hide {
    display: block;
  }

  nav ul {
    margin-left: 18.5%;
    text-align: center;
 
  }

  nav ul li {
    float: left;
  }
 

  nav ul li a {
    border: none;
    padding: .8rem 2.5rem;
  }
  
}