@media only screen and (min-width: 35rem) {

  #content{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .principle{
    font-size: 1.5em;
  }
  
  .map-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
    
  .map{
    grid-column: 1;
    grid-row: 1;

    margin-left: 5em;
  }
  .map img{
    max-width: 100%;
  }

  footer{
    font-size: 1.2em;
  }

  .contenbox{
    font-size: 1.2em;
  }
  .summary{
    margin: 0 20% 0 20%;
  }
  #content-gallery{
    max-width: 960px;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    display:grid;
    grid-template-columns: 1fr 1fr;
  }
  .last_visit_day{
    font-size: 2em;
  }


  .cards{
    padding: 1.5rem;
  }
  .cards section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
 }

 .data-content {
   grid-column: 1;
 }

 .soda-twon img{
   grid-column: 1;
   position: relative;
   margin-top: -12rem;
   margin-left: 3rem;
  }

 .soda-twon .data-content{
   grid-column: 2;
 }
  .home-introduction h3{
    font-size: 1.8em;
  }

  .home-introduction p{
    font-size: 1.3em;
    
  }

  .title{
    font-size: 2rem;
  }


}