@media only screen and (min-width: 61rem){ 
  #content{
    max-width: 1200px;
    /*margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;*/
  }

 /* #content h2 {
    margin-right: 1rem;
  }*/

  .buttonnav {
    display: none;
  } 
  

  nav ul.hide {
    display: block;
  }

  nav ul {
    margin-left: 25%;
    text-align: center;
 
  }

  nav ul li {
    float: left;
  }
 

  nav ul li a {
    border: none;
    padding: .8rem 2.5rem;
  }

  .principle{
    margin: 0;
  }

  /*contac-info-home*/
  .contact-info-home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem 14rem;
    /*gap: -20rem;*/
   }
   .contact-info-home h3{
     grid-column: 1/3;
     margin-top: 2rem;
   }

   .contact-info-home p{
     grid-column: 1;
     margin-left: 5rem;
   }

   .social{
     grid-column: 2;
      margin-top: -2rem;
   }

   .description-chamber p{
    margin: 5rem 2rem;
    grid-column: 2;
  }

  .events{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
    row-gap: 4rem;
    text-align: left;
  }

  .events h3 {
    grid-column: 1/3;
    text-align: center;
  }

  .event-left{
    grid-column: 1;
  }
  .event-right{
    grid-column: 2;
  }

  .event-right p{
    margin-left: -100rem;
  }

  .img-right{
    margin-top: 2rem;
    margin-right: 10rem;
    grid-column: 2;
  }
  .img-right img{
    margin-left: 5rem;
  }
  .img-left img{
    margin-left: 5rem;
  }

  .img-left{
    grid-column: 1;
    grid-row: 3;
  }
  .events p{
    margin: 0;
  }

  
 .grid-col{
   margin: auto 2rem;
 }
  
 form label.top input,
 form label.top select{
   max-width: 20rem;
 }
 
 .join{
   margin: 2rem 20rem;
 }
 .offer{
  margin: 2rem 15rem;
}

.directors{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.directors h3{
  grid-column: 1/4;
}
.directors section{
  list-style: none;
  margin-top: 1rem;
  background-color: #DDFFF7;
  padding-left: 2rem;
}

textarea {
  resize: vertical;
  max-width: 25rem;
}

.contact-info{
  margin: 0;
  margin-right: 15rem;
  display: flex;
  flex-direction: row-reverse;
}

.cards{
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}



}