@media only screen and (min-width: 35rem) { 
  #content{
    max-width: 740px;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  
  
  .principle{
    margin-right: -8rem;
  }

  header button{
    margin: 0.2rem 10%;
  }
    /*Intro home*/
.intro{
  display: flex;
  flex-direction: row-reverse;
  margin-top: 2rem;
  /*display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1;
  gap: 2rem;*/
}

.intro h2{
 /* grid-column: 1;*/
 margin-top: 2rem;
 margin-left: 1rem;
 font-size: 2.2rem;
 text-align: center;
}

.intro a{
  padding: 1.5rem;
  margin: 0 1rem;
  border-radius: 1rem;
}

.intro img{
  /*grid-column: 2;
  marg*/
  max-width: 95%;

}
  
  .description-chamber{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    text-align: center;
  }
  .description-chamber h3{
    grid-column: 1/3;
  }

  .description-chamber p{
    text-align: left;
    margin: 2rem 2rem;
    grid-column: 2;
  }
  
  .description-chamber img{
    grid-column: 1;

  }

  /*.three-companies*/

  .three-companies{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 2rem;
    gap: 1rem;
  }
  .three-companies article{
    font-size: 0.8rem;
    display: flex;
    align-items: center;
  }
  div.three-companies-img{
    width: 300%;
  }

  .three-companies h3{
    grid-column: 1/4;
    grid-row: 1;
    text-align: center;
    margin-bottom: 2rem;
  }

 /* .three-companies div{
    display: flex;
    justify-content: center;
    align-items: center;
  }*/
  .com1{
    grid-column: 1;
  }
  .com2{
    grid-column: 2;
  }
  .com3{
    grid-column: 3;
  }

  /*events*/
  .events{
    text-align: center;
  }

  .img-article{
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  .events article img{
    display: flex;
    align-items: center;
    align-items: center;
  }
  .buttonnav{
    margin-left: 10rem;
   }

  /*Weather*/


  /*join*/
  .join{
    margin: 0 20rem;
  }

  .description-chamber img{
    float: left;
  }
  .day-grid{
    gap: 4rem;
    margin: 0 10rem;
  }
  .events p{
    margin: 2rem 5rem;
  }
}
